{% extends "monitoring/wrapper.html" %}

{% block main %}
    <h1>Заповнити анкету про стан здоров'я учня</h1>

    <form method="post">
        {% csrf_token %}

        <select name="pupil" required>
            {% for pupil in pupils %}
                <option>
                    {{ pupil.id }}
                    {{ pupil.last_name }}
                    {{ pupil.first_name }}
                    {{ pupil.middle_name }}
                </option>
            {% endfor %}
        </select>
        <br>
        <select name="group" required>
            {% for group in groups %}
                <option>
                    {{ group.0 }} {{ group.1 }}
                </option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Зберегти</button>
    </form>

{% endblock %}
