{% extends "monitoring/wrapper.html" %}
{% load static %}

{% block main %}
    <h1>Аналіз захворюванності</h1>

    {% if perc_cls >= 20 %}
    <h3>Школа потребує закриття на карантин! Відсоток класів, закритих на карантин, складає {{ perc_cls }}%.</h3>
    {% else %}
        <h3>Школа не потребує закриття на карантин. Відсоток класів, закритих на карантин, складає {{ perc_cls }}%.</h3>
    {% endif %}

    <h4>Кількість відсутніх: {{ all }}.</h4>
    <h4>Відсоток відсутніх: {{ perc_pupils }}%.</h4>

    <h4>Дані про відсутніх по класам</h4>
    <table>
        <thead>
        <tr>
            <th>Клас</th>
            <th>Кількість відсутніх</th>
            <th>Відсоток відсутніх</th>
            <th>Потребує закриття на карантин</th>
        </tr>
        </thead>

        <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.1 }}</td>
                <td>{{ class.2 }}</td>
                <td>{{ class.3 }}</td>
                {% if class.3 >= 20 %}
                    <td>Так!</td>
                {% else %}
                    <td>Ні</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <img src="{% static "monitoring/absence.png" %}" alt="gisto">


{% endblock %}
