{% extends "monitoring/wrapper.html" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-4">База учнів</h1>
            </div>
        </div>

        <div class="row ">
            <div class="col text-right">

            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-md-6">
                <div class="mb-2">
                    <a href="{% url 'download pupils archive' %}">
                        <button class="btn btn-primary w-100">
                            Завантажити архів усіх учнів, які коли-небудь навчалися у школі
                        </button>
                    </a>
                </div>

                <div class="d-flex">
                    <select id="class-select" class="form-control">
                        <option disabled selected>Оберiть клас</option>
                        <option value="0">Усі класи</option>
                        {% for class in classes %}
                            <option value="{{ class.id }}">{{ class.name }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="printFunction()" id="print-list" class="btn btn-primary ml-4 flex-md-shrink-0">
                        Роздрукувати список класу
                    </button>
                </div>

                <select id="group-select" class="form-control my-2">
                    <option disabled selected>Оберiть групу по фізичній культурі</option>
                    <option value="0">Усі групи</option>
                    {% for group in groups %}
                        <option value="{{ group.0 }}">{{ group.1 }}</option>
                    {% endfor %}
                </select>

                <select id="vision-select" class="form-control my-2">
                    <option disabled selected>Чи наявні вади зору?</option>
                    <option value="0">Усі учні</option>
                    <option value="True">Так</option>
                    <option value="False">Ні</option>
                </select>

                <select id="discount-select" class="form-control my-2">
                    <option disabled selected>Оберiть вид пільги на харчування</option>
                    <option value="0">Усі учні</option>
                    {% for discount in discounts %}
                        <option value="{{ discount.0 }}">{{ discount.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <span>Для сортування рядків таблиці натисніть на заголовок стовбця.</span>

        <table id="pupilsTable" class="table table-striped table-responsive-lg">
            <thead>
            <tr>
                <th></th>
                <th onclick="sortTable(0)">ПІБ</th>
                <th onclick="sortTable(1)">День народження</th>
                <th onclick="sortTable(2)">Стать</th>
                <th onclick="sortTable(3)">Адреса</th>
                <th onclick="sortTable(4)">Телефон</th>
                <th onclick="sortTable(5)">Група по фізичній культурі</th>
                <th onclick="sortTable(6)">Дефекти зору</th>
                <th onclick="sortTable(7)">Пільги на харчування</th>
                <th onclick="sortTable(8)">Клас</th>
                <th onclick="sortTable(9)">Батьки</th>
            </tr>
            </thead>

            <tbody>
            {% for pupil in pupils %}
                <tr
                        data-cls="{{ pupil.pupil_class.id }}"
                        data-group="{{ pupil.group }}"
                        data-vision="{{ pupil.vision_defect }}"
                        data-discount="{{ pupil.discount }}"
                        class="pupil-row"
                        id="{{ pupil.id }}"
                >
                    <td>
                        <a href="/edit_pupil/{{ pupil.id }}" title="Редагувати">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </td>
                    <td>
                        {{ pupil.last_name }}
                        {{ pupil.first_name }}
                        {{ pupil.middle_name }}
                    </td>
                    <td>{{ pupil.birthday }}</td>
                    <td>{{ pupil.get_gender_display }}</td>
                    <td>{{ pupil.address }}</td>
                    <td>{{ pupil.phone }}</td>
                    <td>{{ pupil.get_group_display }}</td>
                    <td>
                        {% if pupil.vision_defect %}
                            Є
                        {% else %}
                            Немає
                        {% endif %}
                    </td>
                    <td>{{ pupil.get_discount_display }}</td>
                    <td>{{ pupil.pupil_class.name }}</td>
                    {% for parent in pupil.parent.all %}
                        <td>
                            {{ parent.last_name }}
                            {{ parent.first_name }}
                            {{ parent.middle_name }},
                            {{ parent.job_place }},
                            {{ parent.phone }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>

    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;

            table = document.getElementById("pupilsTable");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("td")[n];
                    y = rows[i + 1].getElementsByTagName("td")[n];

                    if (dir === "asc") {
                        if (x.innerHTML.toLocaleLowerCase() > y.innerHTML.toLocaleLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir === "desc") {
                        if (x.innerHTML.toLocaleLowerCase() < y.innerHTML.toLocaleLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;

                    switchcount++;
                } else {
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        (function () {
            var filters = {
                cls: '0',
                group: '0',
                vision: '0',
                discount: '0'
            };

            function filterTable() {
                Array.from(document.querySelectorAll('.pupil-row')).forEach((row) => {
                    var cls = row.dataset.cls;
                    var group = row.dataset.group;
                    var vision = row.dataset.vision;
                    var discount = row.dataset.discount;

                    if (
                        (filters.cls === '0' || cls === filters.cls) &&
                        (filters.group === '0' || group === filters.group) &&
                        (filters.vision === '0' || vision === filters.vision) &&
                        (filters.discount === '0' || discount === filters.discount)
                    ) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }

            document.getElementById('class-select').addEventListener('change', function (event) {
                filters.cls = event.target.value;
                filterTable();
            });

            document.getElementById('group-select').addEventListener('change', function (event) {
                filters.group = event.target.value;
                filterTable();
            });

            document.getElementById('vision-select').addEventListener('change', function (event) {
                filters.vision = event.target.value;
                filterTable();
            });

            document.getElementById('discount-select').addEventListener('change', function (event) {
                filters.discount = event.target.value;
                filterTable();
            });
        }());

        function printFunction() {
            window.print();
        }

    </script>

{% endblock %}
