{% extends "monitoring/wrapper.html" %}

{% block main %}
    <div class="container" id="app">
        <div class="row">
            <div class="col">
                <h1 class="my-4">База учнів</h1>
            </div>
        </div>

        <div class="row ">
            <div class="col text-right">

            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-md-6">
                <div class="mb-2">
                    <a href="/add_pupil">
                        <button class="btn btn-primary w-100">
                            Додати нового учня
                        </button>
                    </a>
                </div>

                <div class="mb-2">
                    <a href="{% url 'download pupils archive' %}">
                        <button class="btn btn-primary w-100">
                            Завантажити архів усіх учнів, які коли-небудь навчалися у школі
                        </button>
                    </a>
                </div>

                <div class="d-flex">
                    <select id="class-select" class="form-control">
                        <option disabled selected>Оберiть клас</option>
                        <option value="0">Усі класи</option>
                        {% for class in classes %}
                            <option value="{{ class.id }}">{{ class.name }}</option>
                        {% endfor %}
                    </select>
                    <button @click="printFunction" id="print-list" class="btn btn-primary ml-4 flex-md-shrink-0">
                        Роздрукувати список класу
                    </button>
                </div>

                <select id="group-select" class="form-control my-2">
                    <option disabled selected>Оберiть групу по фізичній культурі</option>
                    <option value="0">Усі групи</option>
                    {% for group in groups %}
                        <option value="{{ group.0 }}">{{ group.1 }}</option>
                    {% endfor %}
                </select>

                <select id="vision-select" class="form-control my-2">
                    <option disabled selected>Чи наявні вади зору?</option>
                    <option value="0">Усі учні</option>
                    <option value="True">Так</option>
                    <option value="False">Ні</option>
                </select>

                <select id="discount-select" class="form-control my-2">
                    <option disabled selected>Оберiть вид пільги на харчування</option>
                    <option value="0">Усі учні</option>
                    {% for discount in discounts %}
                        <option value="{{ discount.0 }}">{{ discount.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <span>Для сортування рядків таблиці натисніть на заголовок стовбця.</span>

        <table id="pupilsTable" class="table table-striped table-responsive-lg">
            <thead>
            <tr>
                <th></th>
                <th @click="sortBy('name')">ПІБ</th>
                <th @click="sortBy('birthday')">День народження</th>
                <th @click="sortBy('gender')">Стать</th>
                <th @click="sortBy('address')">Адреса</th>
                <th @click="sortBy('phone')">Телефон</th>
                <th @click="sortBy('group')">Група по фізичній культурі</th>
                <th @click="sortBy('vision_defect')">Дефекти зору</th>
                <th @click="sortBy('discount')">Пільги на харчування</th>
                <th @click="sortBy('className')">Клас</th>
                <th>Батьки</th>
            </tr>
            </thead>

            <tbody>
                <tr
                    v-for="pupil in sortedPupils"
                    :key="pupil.pk"

                    class="pupil-row"
                    id="`pupil_${pupil.pk}`"
                >
                    <td>
                        <a href="`/edit_pupil/${pupil.pk}`" title="Редагувати">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </td>
                    <td>
                        [[ pupil.fields.last_name ]]
                        [[ pupil.fields.first_name ]]
                        [[ pupil.fields.middle_name ]]
                    </td>
                    <td>[[ pupil.fields.birthday ]]</td>
                    <td>[[ gender(pupil) ]]</td>
                    <td>[[ pupil.fields.address ]]</td>
                    <td>[[ pupil.fields.phone ]]</td>
                    <td>[[ group(pupil) ]]</td>
                    <td v-if="pupil.fields.vision_defect">Є</td>
                    <td v-else>Немає</td>
                    </td>
                    <td>[[ discount(pupil) ]]</td>
                    <td>[[ className(pupil) ]]</td>
                    <td>
                        <template v-for="parent in getParents(pupil)">
                            [[ parent.fields.last_name ]]
                            [[ parent.fields.first_name ]]
                            [[ parent.fields.middle_name ]],
                            [[ parent.fields.job_place ]],
                            [[ parent.fields.phone ]]
                            <br><br>
                        </template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var classes = {{ classes_json | safe }}
        var parents = {{ parents | safe }}
        var pupils = {{ pupils_json | safe }}
        var groups = {{ groups_json | safe }}
        var discounts = {{ discounts_json | safe }}
        var genders = {{ genders | safe }}
        /*function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;

            table = document.getElementById("pupilsTable");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("td")[n];
                    y = rows[i + 1].getElementsByTagName("td")[n];

                    x_text = x.innerHTML.toLocaleLowerCase().trim()
                    y_text = y.innerHTML.toLocaleLowerCase().trim()

                    if (dir === "asc") {
                        if (x_text > y_text) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir === "desc") {
                        if (x_text < y_text) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;

                    switchcount++;
                } else {
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        (function () {
            var filters = {
                cls: '0',
                group: '0',
                vision: '0',
                discount: '0'
            };

            function filterTable() {
                Array.from(document.querySelectorAll('.pupil-row')).forEach((row) => {
                    var cls = row.dataset.cls;
                    var group = row.dataset.group;
                    var vision = row.dataset.vision;
                    var discount = row.dataset.discount;

                    if (
                        (filters.cls === '0' || cls === filters.cls) &&
                        (filters.group === '0' || group === filters.group) &&
                        (filters.vision === '0' || vision === filters.vision) &&
                        (filters.discount === '0' || discount === filters.discount)
                    ) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            }

            document.getElementById('class-select').addEventListener('change', function (event) {
                filters.cls = event.target.value;
                filterTable();
            });

            document.getElementById('group-select').addEventListener('change', function (event) {
                filters.group = event.target.value;
                filterTable();
            });

            document.getElementById('vision-select').addEventListener('change', function (event) {
                filters.vision = event.target.value;
                filterTable();
            });

            document.getElementById('discount-select').addEventListener('change', function (event) {
                filters.discount = event.target.value;
                filterTable();
            });
        }());*/

        var app = new Vue({
            el: "#app",
            delimiters: ["[[", "]]"],
            data() {
                return {
                    sortKey: 'name',
                    sortAsc: true,
                    classes: classes,
                    pupils: pupils,
                    groups: groups,
                    discounts: discounts,
                    genders: genders,
                    parents: parents,
                }
            },

            computed: {
                sortedPupils() {
                    return this.pupils.sort((a, b) => {
                        let sortOrder = this.sortAsc ? 1 : -1;

                        if (this.sortKey === 'name') {
                            if (a.fields.last_name > b.fields.last_name) return sortOrder;
                            if (a.fields.last_name < b.fields.last_name) return -sortOrder;

                            if (a.fields.first_name > b.fields.first_name) return sortOrder;
                            if (a.fields.first_name < b.fields.first_name) return -sortOrder;

                            if (a.fields.middle_name > b.fields.middle_name) return sortOrder;
                            if (a.fields.middle_name < b.fields.middle_name) return -sortOrder;
                        } else {
                            if (this.sortKey in a.fields) {
                                return a.fields[this.sortKey] > b.fields[this.sortKey] ? sortOrder : -sortOrder;
                            } else {
                                return this[this.sortKey](a) > this[this.sortKey](b) ? sortOrder : -sortOrder;
                            }
                        }

                        return 0;
                    })
                }
            },

            methods: {
                sortBy(sortKey) {
                    if (this.sortKey === sortKey) {
                        this.sortAsc = !this.sortAsc;
                    } else {
                        this.sortAsc = true;
                    }
                    this.sortKey = sortKey;
                },

                printFunction() {
                    window.print();
                },

                gender(pupil) {
                    try {
                        return this.genders.find(g => g[0] === pupil.fields.gender)[1]
                    } catch(e) {
                        console.warn(e);
                        return '-'
                    }
                },

                group(pupil) {
                    try {
                        return this.groups.find(g => g[0] === pupil.fields.group)[1]
                    } catch(e) {
                        console.warn(e);
                        return '-'
                    }
                },

                discount(pupil) {
                    try {
                        return this.discounts.find(d => d[0] === pupil.fields.discount)[1]
                    } catch(e) {
                        console.warn(e);
                        return '-'
                    }
                },

                className(pupil) {
                    try {
                        return this.classes.find(c => c.pk === pupil.fields.pupil_class).fields.name
                    } catch(e) {
                        console.warn(e);
                        return '-'
                    }
                },

                getParents(pupil) {
                    return this.parents.filter(parent => pupil.fields.parent.includes(parent.pk))
                }
            }
        })
    </script>
{% endblock %}
