{% extends "monitoring/wrapper.html" %}

{% block main %}
    <div class="container" id="app">
        <div class="col-md-6">
            <div class="mb-2">
                <h1 class="my-2">Звіти</h1>
            </div>
        </div>

        <div class="row ">
            <div class="col text-right">

            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-md-6">
                <div class="mb-2">
                    <a href="/report_group">
                        <button class="btn btn-primary w-100">
                            Групи учнів за станом здоров’я
                        </button>
                    </a>
                </div>

                <div class="mb-2">
                    <a href="/add_pupil">
                        <button class="btn btn-primary w-100">
                            Додати нового учня
                        </button>
                    </a>
                </div>

                <div class="mb-2">
                    <a href="/add_pupil">
                        <button class="btn btn-primary w-100">
                            Додати нового учня
                        </button>
                    </a>
                </div>

                <div class="mb-2">
                    <a href="/add_pupil">
                        <button class="btn btn-primary w-100">
                            Додати нового учня
                        </button>
                    </a>
                </div>

            </div>
        </div>

    </div>
    </div>
    </div>
{% endblock %}
