{% extends "monitoring/wrapper.html" %}

{% block main %}
ЗВІТ<br>
групи учнів за станом здоров’я<br>
для занять на уроках фізичної культури<br>
(кількісні показники)<br>
    Всього по школі – {{ all }}<br>
  	 - основна група – {{ osnov }}<br>
   	 - підготовча – {{ podgot }}<br>
   	 - спеціальна – {{ spec }}<br>


    По класам:<br>
6 клас (всього) – 30<br>
 - основна група – 20<br>
  		 - підготовча – 5<br>
  		 - спеціальна – 5<br>
8 клас (всього) – 25<br>
 - основна група – 20<br>
  		 - підготовча – 5<br>
  		 - спеціальна – 0<br>
{% endblock %}
