{% extends "monitoring/wrapper.html" %}

{% block main %}
ЗВІТ<br>
групи учнів за станом здоров’я<br>
для занять на уроках фізичної культури<br>
(кількісні показники)<br>
    Всього по школі – {{ all }}<br>
  	 - основна група – {{ osnov }}<br>
   	 - підготовча – {{ podgot }}<br>
   	 - спеціальна – {{ spec }}<br>


    По класам:<br>
    {% for key, values in classes.items %}
    {{ key }} клас (всього) – {{ values.3 }}<br>
 - основна група – {{ values.0 }}<br>
  		 - підготовча – {{ values.1 }}<br>
  		 - спеціальна – {{ values.2 }}<br>
    {% endfor %}



{% endblock %}
