<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Облік учнів</title>
</head>
<body>
    <a href="/">Головна</a>
    <a href="pupils">База учнів</a>
    <a href="teachers">База співробітників</a>
    <a href="absence">Списки відсутніх</a>
    <a href="add_absence">Внести відсутніх</a>
    <a href="add_group">Заповнити анкету про стан здоров'я учня</a>
    <a href="add_discount">Заповнити анкету про пільги на харчування</a>

{% block main %}
{% endblock %}

</body>
</html>